.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/images/lights.jpg");
  background-size: cover;
  /* background-size: contain; */
  /* background-size: 0%; */
  /* background-position: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
}

.hero .overlay {
  position: absolute; /* Position overlay on top of the hero section */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000b24d7;

  z-index: 1; /* Ensure the overlay is above the background but below the content */
}

.hero-content {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  padding-bottom: 2.5rem;
}

.hero-content h1 {
  font-size: 5.2rem;
  margin: 0;
  letter-spacing: 0.1rem;
  line-height: 4rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: #c7c6ff;
}

.cta-button {
  background-color: #000b24d7;
  border: 2px solid white;
  width: fit-content;
  align-self: center;
  margin-top: 1.2rem;
  padding: 1rem 1.2rem;
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
}

.cta-button:hover {
  background-color: #2980b9;
}

/* HERO WITH ICON */
/* .hero-content {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
} */
