.navbar {
  display: flex;
  border: 3px solid white;
  background-color: white;
  margin: 0;
  padding: 0.5rem 1rem;
  list-style-type: none;
  gap: 1rem;
  z-index: 10000;
  /* width: 25%; */
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navbar li {
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  /* border: 1px solid black; */
  font-size: 1rem;
}

.navbar li:hover {
  background-color: #ccd5f7;
  /* background-color: rgba(211, 211, 211, 0.531); */
}

.navbar li a {
  padding: 1rem 1rem;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    gap: 0rem;
    padding-top: 0.75rem;
    background-color: transparent;
    border: none;
  }
  .navbar li {
    padding: 0rem;
  }
  .navbar li a {
    padding: 0rem 0.5rem;
  }
}
