/* General styling for the skills section */
.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 2px solid green; */
  background-color: #f4f4f4;
  text-align: center;
  gap: 2rem;
  padding: 4rem 2rem;
}

.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin: 0;
}

/* Grid Layout */
.skills-grid {
  display: grid;
  justify-content: center;
  padding: 3rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 3rem;
  background-color: white;
  margin: 0rem 8rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.skill img {
  width: 4rem;
  height: 4rem;
}

.skill p {
  font-size: 1.2em;
  color: #333;
  margin: 0;
  text-transform: capitalize; /* Capitalize each language name */
}

@media (max-width: 768px) {
  .skill img {
    width: 2rem;
    height: 2rem;
  }

  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 0rem;
  }
}
